<!--<div id="container" style="width: 100%; height: 400px"></div>-->
<!--<div ng-include="'http://192.168.0.1/html/index.html'"></div>-->
<!--<iframe class="successFrame" src="http://192.168.0.1/html/index.html" frameborder="0" width="100%" height="400px" style="display: none"></iframe>-->
<iframe class="successFrame" [src]="url" frameborder="0" width="100%" height="400px" style="display: none"></iframe>
<div class="errorDiv" id="container" style="display: none">Fehler: die Verbindung zu Dobby steht offenbar nicht. Sind Sie mit der WLAN-Schnittstelle verbunden?</div>
