<button type="button" id="btn-primary" class="btn btn-primary" (click)="connect()">Connect</button>

<section class="loader" style="display:none">
  <!-- the loading animation -->
  <ul class="bokeh">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<p class="error" style="display:none; text-align: center;">ERROR: Verbindung zum WebSocket Server fehlgeschlagen! Sind Sie mit der WLAN Schnittstelle verbunden?</p>

<div class="cmdWindow">
  <ul class="cmdList">
    <li class="cmdItem" *ngFor="let h of history">{{ h }}</li>
  </ul>
</div>

<input type="text" id="inSend" class="hidden" placeholder="Kommando" [(ngModel)]="command">
<button type="button" id="btnSend" class="btn hidden" (click)="send()">Senden</button>
<button type="button" id="closeBtn" class="btn hidden" (click)="endWs()">Beenden</button>
