<!--<button type="button" class="btn btn-prim btn-primary" (click)="connect()">Connect</button>-->
<button type="button" class="btn btn-prim" (click)="connect()">Connect</button>
<!--<button type="button" class="btn btn-prim" (click)="init()">Debug Init</button>-->

<p class="hidden" style="">W&auml;hlen Sie den Fahr-Modus:</p>
<!--<input type="text" class="hidden" placeholder="Kommando" [(ngModel)]="command">-->
<button type="button" class="btn btn-choose hidden" (click)="auto()">Automatik</button>
<button type="button" class="btn btn-choose hidden" (click)="man()">Manuell</button>
<button type="button" class="btn btn-choose btn-end hidden" (click)="endWs()">Beenden</button>


<section class="loader" style="display:none">
  <!-- the loading animation -->
  <ul class="bokeh">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<p class="error">ERROR: Verbindung zum WebSocket Server fehlgeschlagen! Sind Sie mit der WLAN Schnittstelle verbunden?</p>

<div class="auto" style="display:none;">
  <iframe class="successFrame" [src]="url" frameborder="0" width="100%" height="400px"></iframe>
</div>

<div id="debug1" class="manual direction" style="position:fixed; left:5%; top:25%; color:grey;">
  Direction: Base
</div>

<div id="debug2" class="manual distance" style="position:fixed; left:5%; top:29%; color:grey;">
  Distance: 0
</div>

<div class="manual joyStickDiv"></div>

<div class="leftMotor">
  <div class="bar-wrapper rightMotorUp manual">
    <div class="bar-container">
      <div class="bar-background"></div>
      <div class="bar-inner" style="height: 0%; bottom: 0;">0</div>
      <div class="bar-foreground"></div>
    </div>
  </div>
  <div class="bar-wrapper rightMotorDown bar-wrapper-down manual">
    <div class="bar-container-down">
      <div class="bar-background"></div>
      <div class="bar-inner bar-inner-down" style="height: 0%; bottom: 0;">0</div>
      <div class="bar-foreground"></div>
    </div>
  </div>
</div>

<div class="rightMotor">
  <div class="bar-wrapper rightMotorUp manual">
    <div class="bar-container">
      <div class="bar-background"></div>
      <div class="bar-inner" style="height: 0%; bottom: 0;">0</div>
      <div class="bar-foreground"></div>
    </div>
  </div>
  <div class="bar-wrapper rightMotorDown bar-wrapper-down manual">
    <div class="bar-container-down">
      <div class="bar-background"></div>
      <div class="bar-inner bar-inner-down" style="height: 0%; bottom: 0;">0</div>
      <div class="bar-foreground"></div>
    </div>
  </div>
</div>

<button type="button" class="btn manual auto" (click)="back()">Zur&uuml;ck</button>

<div class="manual switchDiv">
  <div class="switchFloatie">Sensor</div>
  <div class="switch switchFloatie">
    <input type="checkbox" class="checkSens" (click)="clickSens()" checked />
    <label></label>
  </div>
</div>

<ul>
  <li *ngFor="let h of history">{{ h }}</li>
</ul>
