<!--<button type="button" class="btn btn-prim btn-primary" (click)="connect()">Connect</button>-->
<button type="button" class="btn btn-prim" (click)="connect()">Connect</button>
<!--<button type="button" class="btn btn-prim" (click)="init()">Debug Init</button>-->

<p class="hidden" style="">W&auml;hlen Sie den Fahr-Modus:</p>
<!--<input type="text" class="hidden" placeholder="Kommando" [(ngModel)]="command">-->
<button type="button" class="btn btn-choose hidden" (click)="auto()">Automatik</button>
<button type="button" class="btn btn-choose hidden" (click)="man()">Manuell</button>

<img src="../../assets/ajax-loader.gif" class="loader" alt="Loading..." style="visibility:hidden">
<p class="error">ERROR: Failed to Connect to the WebSocket Server!</p>

<!--<p class="hidden">
  X: <p id="textView1"></p>
  Y: <p id="textView2"></p>
  Angle: <p id="textView3"></p>
  Distance: <p id="textView4"></p>
  Direction: <p id="textView5"></p>
</p>-->

<div id="debug1" class="manual direction" style="position:fixed; left:5%; top:30%; color:grey;">
  Direction: Base
</div>

<div id="debug2" class="manual distance" style="position:fixed; left:5%; top:34%; color:grey;">
  Distance: 0
</div>

<button type="button" class="btn manual" (click)="back()">Zur&uuml;ck</button>

<ul>
  <li *ngFor="let h of history">{{ h }}</li>
</ul>
