<!--<button type="button" class="btn btn-prim btn-primary" (click)="connect()">Connect</button>-->
<button type="button" class="btn btn-prim" (click)="connect()">Connect</button>

<p class="hidden" style="">W&auml;hlen Sie den Fahr-Modus:</p>
<!--<input type="text" class="hidden" placeholder="Kommando" [(ngModel)]="command">-->
<button type="button" class="btn btn-choose hidden" (click)="auto()">Automatik</button>
<button type="button" class="btn btn-choose hidden" (click)="man()">Manuell</button>

<ul>
  <li *ngFor="let h of history">{{ h }}</li>
</ul>
