<div style="height: 400px; padding: 3%; overflow-y: scroll;">
  <h4>Dobby-App v2.10</h4>
  <p>
    Diese App ist Teil des Dobby-Projektes, welches als Projekt für den Kurs Software-Engineering
    der Dualen Hochschule Baden-Württemberg im dritten Semester startete und nun mit der Studienarbeit
    des fünften und sechsten Semesters abgeschlossen wurde.
  </p>

  <h4>Entwickler</h4>
  <p>
    Das Projekt wurde entwickelt von
    <br/>
    <img src="assets/Nico.png" width="30%" style="margin-left: auto; margin-right: 5%;"/><img src="assets/Marie.png" width="30%" style="margin-left: auto; margin-right: 5%;"/><img src="assets/Daniel.png" width="30%" style="margin-left: auto; margin-right: auto;"/>
    <i>Nicolas Huentz</i>, <i>Marie-Kristin Kaiser</i>  & <i>Daniel Stumpf</i>.
  </p>

  <h4>Sponsoren</h4>
  <p>
    Dieses Projekt hätte ohne die tatkräftige Unterstützung folgender Sponsoren nicht abgeschlossen
    werden können:
    <br/><br/>
    <img src="assets/firmen2.png" width="100%"/>
  </p>

  <br/>
  <h4>Haftungsausschluss</h4>
  <p>
    Bitte beachten Sie, dass die App zu Lernzwecken entwickelt wurde und wir deswegen keine Garantie
    für diese Software geben können.
  </p>
</div>
